h1{
	font-style: Arial;
	text-align:center;
	position: relative;
	padding: 250px;

}

#g{
	color: blue;
}

#a{
	color: red;
}

#y{
	color: yellow;
}

#a_two{
	color: black;
}

#t{
	color: green;
}

#h{
	color: blue;
}
#r{
	color: green;
}
#i{
	color: red;
}